.header__topLine{
	display: block;
	background: #44626e;
	padding: 9px 0;
	text-align: center;
}
.topLine__adress{
	display: inline-block;
	color: #fff;
	background: url(../img/pin.png) no-repeat;
	height: 22px;
	padding-top: 5px;
	padding-left: 26px;
    font-family: 'elektra_light_proregular';
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
}
.topLine__telephone{
	position: relative;
	top: 0;
	display: block;
	float: right;
	height: 20px;
}
.telephone__sup{
	font-family: 'elektra_light_probold';
    font-weight: normal;
    font-style: normal;
    color: #00b9fe;
	display: inline-block;
	font-size: 15px;
}
.telephone__text{
	font-family: 'elektra_light_proregular';
    font-weight: normal;
    font-style: normal;
    color: #fff;
	font-size: 25px;
	display: inline-block;
	height: 20px;
}
.telephone__link{
	text-decoration: none;
	width: 100%;
	height: 100%;
}

.header__mine{
	background: #e6eef5;
	height: 98px;
	overflow: hidden;
}
.header__mineLogo{
	float: left;
	padding: 24px 0 0;
	height: 100%;
}
.header__mineLogo-link{
	text-decoration: none;
}
.header__group{
	position: relative;
	top: 30px;
	display: block;
	float: right;
	height: 36px;
	padding: 0;
}
.group__links{
	display: inline-block;
	float: right;
	height: 36px;
	margin:0px;
}
.links-item{
	display: inline-block;
	margin: 10px;
	font-family: 'elektra_light_proregular';
	font-size: 17px;
	color: #00b9fe;
}
.links-item:hover{
	color: #3d5f7f;
}